<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<variable name="logDirectory" value="logs/${shortdate}"/>

	<variable name="mainJsonLayout">
		<layout type="JsonLayout" suppressSpaces="true" indentJson="true">
			<attribute name="nivel" layout="${level:upperCase=true}"/>
			<attribute name="fecha" layout="${date:format=dd-MM-yyyy}"/>
			<attribute name="hora" layout="${time}"/>
			<attribute name="mensaje" layout="${message}"/>
			<attribute name="url" layout="${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true}"/>
			<attribute name="body" layout="${aspnet-request-posted-body}"/>
			<attribute name="error" layout="${exception}"/>
		</layout>
	</variable>

	<targets>
		<target name="logfile" xsi:type="File" fileName="${logDirectory}/${date:format=HH}.txt" layout="${mainJsonLayout}"/>
		<target name="logconsole" xsi:type="ColoredConsole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="logconsole, logfile" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>